@model ENTITY.Concrete.User

@{
    ViewBag.Title = "Register";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/App_Themes/Account/login/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/App_Themes/Account/login/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/App_Themes/Account/login/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/App_Themes/Account/login/css/style.css">
    <title>Kayıt - Meta</title>
</head>
<body>
    <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2" style="background-image: url('/App_Themes/Account/login/images/bg.jpg');"></div>
        <div class="contents order-2 order-md-1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">
                        <h3>ÜYE OL</h3>
                        <p></p>
                        <form action="/Account/Register" method="post">
                            <div class="form-group first">
                                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "Ad" })
                            </div>
                            <div class="form-group last mb-3">
                                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "Soyad" })
                            </div>

                            <div class="form-group last mb-3">
                                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", placeholder = "Cep Telefonu" })
                            </div>

                            <div class="form-group last mb-3">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "E-posta" })
                            </div>

                            <div class="form-group last mb-3">
                                @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Şifre" })
                            </div>

                            <div class="form-group last mb-3">
                                @Html.TextBoxFor(x => x.BirthDay, new { @class = "form-control", type="date"})
                            </div>

                            <input type="submit" value="KAYIT OL" class="btn btn-block btn-primary">

                        </form>
                        <br />
                        <a href="/login" style="text-decoration: none"><input type="button" value="GİRİŞ YAP" class="btn btn-block btn-danger"></a>
                        <br />
                        <a href="@Url.Action("","")" style="text-decoration: none;"><input type="button" value="ÜYE OLMADAN DEVAM ET" class="btn btn-block btn-dark"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/App_Themes/Account/login/js/jquery-3.3.1.min.js"></script>
    <script src="~/App_Themes/Account/login/js/popper.min.js"></script>
    <script src="~/App_Themes/Account/login/js/bootstrap.min.js"></script>
    <script src="~/App_Themes/Account/login/js/main.js"></script>
</body>
</html>