@model List<ENTITY.Concrete.Product>

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>Yeni Ürünler</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">Hepsi</li>
                    <li data-filter=".women">Kadın</li>
                    <li data-filter=".men">Erkek</li>
                    <li data-filter=".kid">Çocuk</li>
                    <li data-filter=".unisex">Unisex</li>
                </ul>
            </div>
        </div>
        <div class="row property__gallery">
            @foreach (var item in Model)
            {
                DateTime dateTime = DateTime.Now;
                <div class="col-lg-3 col-md-4 col-sm-6 mix @(item.Gender.Name == "Kadın" ? "women" : "men")">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="@item.Image">
                            @if (item.CreateDate.Year == dateTime.Year && item.CreateDate.Month == dateTime.Month && item.CreateDate.Day == item.CreateDate.Day)
                            {
                                <div class="label new">yeni</div>
                            }
                            <ul class="product__hover">
                                <li><a href="@item.Image" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="/p/@item.Url-@item.Id">@item.Title</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            @if (item.CampaignDiscount == 0)
                            {
                                <div class="product__price">$ @item.Price</div>
                            }
                            else
                            {
                                <div class="product__price">$ @item.CampaignDiscount <span>$ @item.Price</span></div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
